/* showDialog */
#SD_HideSelect {position:fixed;top:0px;left:0px;z-index:999;width:100%;height:100%;background:#FFFFFF;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
* html #SD_HideSelect {position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#SD_overlay {position:fixed;top:0px;left:0px;z-index:1000;width:100%;height:100%;}
* html #SD_overlay {position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
.SD_overlayBG {background:#000000;filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.50;}
.SD_overlayBG2 {background:#FFFFFF;filter:alpha(opacity=20);-moz-opacity:0.20;opacity:0.20;}
.SD_bg {background:#333333;filter:alpha(opacity=30);-moz-opacity:0.30;opacity:0.30;width:9px;height:9px;overflow:hidden;}
#SD_window {position:absolute;top:0px;left:0px;z-index:1000;overflow:hidden;display:none;}
#SD_container {position:relative;z-index:1005;background:none;float:left;}
#SD_container h3 {height:44px;line-height:44px;background:#19a1e0;color:#fff;font-size:15px;font-weight:bold;cursor:move; text-align:left; padding-left:15px;}
#SD_body {padding:15px;white-space:normal;}
#SD_body, #SD_body div, #SD_body p, #SD_body td {color:#000000;}
#SD_button {padding:13px 20px;background:#F6F6F6;border-top:1px solid #CDCDCD;text-align:right;display:none; line-height:30px;}
#SD_button a {margin-right:10px;padding:0px 15px;background:#0086c4;border-width:1px;border-style:solid;border-color:#006593;white-space:nowrap;display:inline-block;color:#FFFFFF;font-size:14px;text-align:center;cursor:pointer;}
#SD_button a:hover {text-decoration:none;}
#SD_close {position:absolute;top:22px;right:19px;z-index:1005;width:17px;height:17px;border:none;background: url(../../images/close_icon.gif) 0 0 no-repeat;}
#SD_close:hover{ background:url(../../images/close_icon_hover.gif) 0 0 no-repeat;}
#SD_window table{ border:none; background:none;}
#SD_window table tr td{ border:none; background: url(../../images/layer_bg.png) 0 0 repeat;padding: 10px 10px;}
.family_layer {background:#ffffff;}
#SD_content{ font-family: "ו"; font-size:14px; padding-right:15px;}
#SD_content .info .help-inline{ display:block; text-align:left; line-height:30px;}
#SD_content .info{ margin-top:20px;}